<!-- Start Footer Area -->
<footer class="footer">
    <!-- Footer Top -->
    <div class="footer-top section">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-8 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer about">
                        <div class="logo">
                            <a><img style="width: 40%;" src="assets\images\WinTechHub-Logo.png" alt="#"></a>
                        </div>
                        <p class="text">“To become a successful, global information technology
                            firm that is respected by its clients for providing
                            excellent customer service, taking good care of its staff,
                            and working in partnership with clients to deliver ICT
                            products and services that are innovative and valuedriven.”

                        </p>
                        <p class="call">Got Question? Call us 24/7<span><a href="tel:0123456789">+0123 456
                                    789</a></span>
                        </p>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-lg-2 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer links">
                        <h4>Information</h4>
                        <ul>
                            <li><a (click)="naviagte('/about-us')">About Us</a></li>
                            <li><a (click)="naviagte('/policies')">Policy</a></li>
                            <li><a (click)="naviagte('/contact')">Contact Us</a></li>
                            <!-- <li><a>Terms & Conditions</a></li>
                            <li><a>Help</a></li> -->
                        </ul>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer social">
                        <h4>Get In Tuch</h4>
                        <!-- Single Widget -->
                        <div class="contact">
                            <ul>
                                <li>ST PETERSBURGH, FL. US.</li>
                                <li>admin@wintechhubllc.net</li>
                                <li>+1 213 685 2220</li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                        <ul>
                            <li><a><i class="ti-facebook"></i></a></li>
                            <li><a><i class="ti-twitter"></i></a></li>
                            <li><a><i class="ti-flickr"></i></a></li>
                            <li><a><i class="ti-instagram"></i></a></li>
                        </ul>
                    </div>
                    <!-- End Single Widget -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Top -->
    <div class="copyright">
        <div class="container">
            <div class="inner">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="left">
                            <p>© 2023 Wintechhub – All rights reserved.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="right">
                            <img src="assets/images/payments.png" alt="#">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>