<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a routerLink="/">Home<i class="ti-arrow-right"></i></a></li>
                        <li class="active"><a>Checkout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="shop checkout section" style="padding-top: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="checkout-form">
                    <h2>Make Your Checkout Here</h2>
                    <p>Please register in order to checkout more quickly</p>
                    <form class="form" [formGroup]="checkOutForm">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>First Name<span>*</span></label>
                                    <input type="text" formControlName="firstName" placeholder="" required="required">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>Last Name<span>*</span></label>
                                    <input type="text" formControlName="lastName" placeholder="" required="required">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>Email Address<span>*</span></label>
                                    <input type="email" formControlName="email" placeholder="" required="required">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>Phone Number<span>*</span></label>
                                    <input type="number" formControlName="phone" placeholder="" required="required">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>Country<span>*</span></label>
                                    <input type="text" formControlName="country" placeholder="" required="required">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>State<span>*</span></label>
                                    <input type="text" formControlName="state" placeholder="" required="required">
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>Address Line 1<span>*</span></label>
                                    <input type="text" formControlName="addressLineOne" placeholder=""
                                        required="required">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>Address Line 2<span>*</span></label>
                                    <input type="text" formControlName="addressLineTwo" placeholder=""
                                        required="required">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>Postal Code<span>*</span></label>
                                    <input type="text" formControlName="postal" placeholder="" required="required">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="order-details">
                    <div class="single-widget">
                        <h2>CART TOTALS</h2>
                        <div class="content">
                            <ul>
                                <li>Sub Total<span>${{totalPrice}}</span></li>
                                <li class="last">Total<span>${{totalPrice}}</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-widget payement">
                        <div class="content">
                            <img src="assets/images/payment-method.png" alt="#">
                        </div>
                    </div>
                    <div class="single-widget get-button">
                        <div class="content">
                            <div class="button" *ngIf="showGPay">
                                <google-pay-button style="width: 100%;position: relative;
                                top: 10px;" (click)="onClickGpay($event)" environment="TEST" [buttonSizeMode]="'fill'"
                                    [paymentRequest]="payment"
                                    (loadpaymentdata)="onLoadPaymentData($event)"></google-pay-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>