<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a href="index1.html">Home<i class="ti-arrow-right"></i></a></li>
                        <li class="active"><a href="blog-single.html">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="contact-us" class="contact-us section">
    <div class="container">
        <div class="contact-head">
            <div class="row">
                <div class="col-lg-8 col-12">
                    <div class="form-main">
                        <div class="title">
                            <h4>About us</h4>
                            <h3>Choose The Best IT Service Company</h3>
                            <p>WINTECHHUB is a Florida Based Registered Limited
                                Liability company that assists its customers in maximizing
                                their use of technology. We create your IT infrastructures
                                and offer high-quality, reasonably priced service by
                                combining end-user help desk assistance with remote IT
                                management solutions. As technologically empowered
                                Individuals as Service providers, we are committed to helping people in the new economy
                                do their jobs.
                                WINTECHHUB is expanding quickly and aspires to become a market leader, serving our
                                Members in homes all over the
                                world. In the digital age, we prioritize people, and our kind and knowledgeable Advisors
                                will work tirelessly to findsolutions to your issues. Our commitment to providing
                                meaningful service sets us apart from other businesses in
                                our industry.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="single-head" style="padding: 0px !important;">
                        <img src="assets\images\about.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-newsletter></app-newsletter>