<section class="cown-down">
    <div class="section-inner ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-12 padding-right">
                    <div class="image">
                        <img src="assets\images\product-Area.jpeg" alt="#">
                    </div>	
                </div>	
                <div class="col-lg-6 col-12 padding-left">
                    <div class="content">
                        <div class="heading-block">
                            <p class="small-title">Deal of day</p>
                            <h3 class="title">Help desk and Remote Support</h3>
                            <p class="text" style="margin-bottom: 5%;">If one of your devices has a problem, we can access it online and troubleshoot and fix it.
                                <b>The Price mentioned is for the 1 hour of Our Service</b></p>
                            <h3 class="title" style="display: inline;">Starting Price: </h3>
                            <h1 style="display: inline;" class="price">$50 <s>$80</s></h1>
                            <div class="coming-time">
                                <div class="clearfix" data-countdown="2021/02/30"></div>
                            </div>
                            <div class="button custom-btm" style="color: white;top:20px;position: relative;">
                                <a (click)="navigate('/shop')" class="btn">Shop Now</a>
                            </div>
                        </div>
                    </div>	
                </div>	
            </div>
        </div>
    </div>
</section>