<section class="hero-slider">
    <!-- Single Slider -->
    <div class="single-slider" style="background-color: #F7941D !important; background-image: none !important;">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-9 offset-lg-3 col-12">
                    <div class="text-inner">
                        <div class="row">
                            <div class="col-lg-8 col-12">
                                <div class="hero-text">
                                    <h1 style="color:white">Ultimate IT Solutions</h1>
                                    <p>Proper automation services provided by WINTECHHUB to ensure to cover all of your business requirements.  
                                    </p>
                                    <div class="button custom-btm">
                                        <a (click)="naviagte('/shop')" class="btn">Get Started!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Single Slider -->
</section>
<app-product-area></app-product-area>
<app-countdown-offer></app-countdown-offer>
<app-newsletter></app-newsletter>
<!--/ End Slider Area -->