<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a (click)="naviagte('/')">Home<i class="ti-arrow-right"></i></a></li>
                        <li class="active"><a (click)="naviagte('/contact')">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="contact-us" class="contact-us section">
    <div class="container">
        <div class="contact-head">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <img src="{{details?.image}}" alt="">
                </div>
                <div class="col-lg-6 col-12">
                    <h1 style="margin:20px 0px">{{details?.title}}</h1>
                    <h2 class="price" style="margin:2px 0px 40px 0px">$ {{details?.price}} </h2>
                    <span style="margin:100px 0px;font-size: 18px;">{{details?.short_dis}}</span>
                    <div class="input-group" style="margin:10% 0px 10px 0px;">
                        <div class="button minus">
                            <button type="button" class="btn btn-primary btn-number" data-type="minus"
                                data-field="quant[1]" (click)="quantity(0)">
                                <i class="ti-minus"></i>
                            </button>
                        </div>
                        <input type="text" name="quant[1]" class="input-number" data-min="1" data-max="100"
                            value="{{quantityCount}}">
                        <div class="button plus">
                            <button type="button" class="btn btn-primary btn-number" data-type="plus"
                                data-field="quant[1]" (click)="quantity(1)">
                                <i class="ti-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col" style="padding: 0px;" (click)="boBack()">
                        <a style="color: white;" class="btn">Shop Now!</a>
                    </div>
                </div>

            </div>
            <div class="row" style="display: flex;flex-direction: row;justify-content: center;margin: 40px 0px;">
                <h1>Description</h1>
                <p>{{details?.description}}</p>
            </div>
        </div>
    </div>
</section>
<app-newsletter></app-newsletter>